@use "../../utilties/elements";
@use "../../utilties/variables" as var;

.footerContainer {
  @extend %landingPageContainer;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var.$darkest-blue;
}
