@use "../../utilties/elements";
@use "../../utilties/font";

.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 3rem 0.5rem 3rem;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  button {
    @extend %formButton;
    width: auto;
  }
}

.logo {
  @extend %logoText;
  span {
    @extend %logo-S;
  }
  #x {
    @extend %logo-X;
  }
}
