@use "../../utilties/elements";
@use "../../utilties/font";
@use "../../utilties/variables" as var;

$line: none;
.navbarWrapper {
  z-index: +2;
  border: $line black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(6px);
}

.buttonWrapper {
  display: none;
  justify-content: space-between;
  width: 20rem;
  button {
    @extend %formButton;
    width: auto;
  }
}

// Desktop links initially dont show.
.desktopLinks {
  display: none;
}

// Buttons will show when the screen is 700px wide, and hide
// the hamburger menu.
@media only screen and (min-width: "700px") {
  .buttonWrapper {
    display: flex;
  }
  .hamburgerVisible {
    display: none;
  }
  .desktopLinks {
    display: flex;
  }
}

.logo {
  @extend %logoText;
  span {
    @extend %logo-S;
  }
  #x {
    @extend %logo-X;
  }
  text-shadow: 1px 1px 0px var.$hazy-purple;
}

// Desktop responsive links/redirects
.desktopLinks {
  border: $line blue;
}
