@use "../../utilties/elements";
.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid red;
  //   opacity: ;
  position: fixed;
  width: 100%;
  //   z-index: +5;
}
.buttonWrapper {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  button {
    @extend %formButton;
    width: auto;
  }
}
