@use "../../utilties/variables" as var;

// Arrow styling
.arrowWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stem {
  margin-top: 0.5rem;
  border: solid var.$hazy-purple;
  background-color: var.$hazy-purple;
  width: 30px;
  height: 60px;
  border-radius: 3px 3px 0 0;
}
.triangleBottom {
  border-top: 40px solid var.$hazy-purple;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  margin-bottom: 0.5rem;
}
