@use "../utilties/font";
@use "../utilties/elements";
@use "../utilties/variables" as var;

$line: none;

#createCat {
  display: flex;
  margin-top: 2rem;
  border: $line brown;
  justify-content: space-between;
  align-items: center;
}

#inputButton {
  display: flex;
  justify-content: space-between;
  border: $line red;
  width: 70%;
  align-items: center;
  #input {
    width: 70%;
    @extend %inputField;
  }
}

#label {
  @extend %smallHeadingText;
}

.textWrapper {
  border: $line pink;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  border-width: 0.8px;
  span {
    border: $line orange;
    padding: 1rem 0 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    @extend %boldBlueUnderlined;
  }
  p {
    border: $line gray;
    margin: 0;
  }
}

.selectPrevCat {
  border: $line black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  border: $line purple;
  display: flex;
}

.dropdownWrapper {
  border: $line yellow;
  width: 70%;
}

.instruction {
  // Change both heights around to get the correct positioning and width.
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='50%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='0.1%25' fill='none' stroke='%239391FFFF' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}
