// Imports
@use "./utilties/variables" as var;
@import url("https://fonts.cdnfonts.com/css/liberation-sans");

// Font
$font: "Lineration Sans", sans-serif;

* {
  font-family: $font;
  input {
    background-color: var.$input-field;
  }
  //   padding: 1rem;
}
