@use "./variables" as var;

%formButton {
  background-color: var.$regular-button;
  width: -webkit-fill-available;
  padding: 0.7rem;
  min-width: 8rem;
  border-radius: var.$form-element-radius;
}

%landingPageContainer {
  // min-height: 50vw;
  width: 100vw;
  // max-height: 80vw;
}
