@use "./variables" as var;

%formButton {
  background-color: var.$regular-button;
  width: -webkit-fill-available;
  padding: 0.7rem;
  min-width: 8rem;
  border-radius: var.$form-element-radius;
  border: 0;
  :hover {
    opacity: 0.5;
  }
}

%landingPageContainer {
  width: 100vw;
  height: 100vw;
}

%landingPageContainerMobile {
  width: 100vw;
  height: 150vw;
}

%footerHeading {
  color: var.$lightest-purple;
  font-weight: var.$bold-text;
}

%footerLinks {
  color: var.$lightest-purple;
  font-weight: var.$regular-text;
}

%solidLine {
  border-bottom: solid var.$light-hazy-purple;
  border-width: 1px;
}

%inputField {
  border: solid var.$light-hazy-purple;
  border-radius: var.$form-element-radius;
  background-color: var.$very-light-purple;
}
