@use "./variables" as var;

// General logo
%logoText {
  color: var.$white;
  font-size: var.$small-bold-text;
  font-weight: var.$bold-text;
}

// Logo accent
%logo-S {
  color: var.$light-hazy-purple;
  font-size: var.$logo-accent;
}

%logo-X {
  color: var.$gold;
  font-size: var.$logo-accent;
}

// Bold text in landing and input form.
%smallBoldText {
  color: var.$dark-blue;
  font-size: var.$small-bold-text;
  font-weight: var.$bold-text;
}

// Heading & info text.
%smallHeadingText {
  color: var.$light-hazy-purple;
  font-weight: var.$bold-text;
}

%mediumHeadingText {
  color: var.$light-hazy-purple;
  font-weight: var.$bold-text;
  font-size: var.$medium-heading-text;
}

// Hero/large text
%largeHeroText {
  color: var.$white;
  font-weight: var.$bold-text;
  font-size: var.$large-hero-text;
}

%veryLargeHeroText {
  font-size: var.$very-large-hero-text;
}

//Underlined Text
%boldBlueUnderlined {
  text-decoration: underline;
  @extend %smallBoldText;
  font-style: italic;
}
