@use "../../utilties/font";
@use "../../utilties/elements";
@use "../../utilties/variables" as var;
$line: none;

// General Form for stlying.
.logWrapper {
  border: $line red;
  padding: 1rem;
  @extend %logContainerStyles;
}

// The top level heading and everything underneath
.logForm {
  border: $line gray;
}

.logHeading {
  @extend %boldBlueUnderlined;
}

// Datetime and delete button
.logHeader {
  border: $line blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %smallHeadingText;
}

// The entered logs and the sub headings.
.entries {
  border: $line green;
  margin-top: 2rem;
}

// Headings container
.headings {
  border: $line pink;
  display: flex;
  justify-content: space-between;
  width: 80%;
  @extend %boldBlueUnderlined;
  text-decoration: none;
  font-style: normal;
}

.subcatHeading {
  border: $line gray;
}

.descriptionHeading {
  border: $line gray;
  width: 50%;
}

// Individual entry with buttons.
.entry {
  border: $line purple;
  display: flex;
  justify-content: space-between;
  @extend %smallHeadingText;
}

// Entry subcat and descriptions
.entriesWrapper {
  border: $line yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.description {
  border: $line gray;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

// Edit Entry container
.editEntry {
  border: $line black;
  display: flex;
  align-items: center;
}

// Buttons
.buttons {
  border: $line orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finishButton {
  border: $line blue;
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}
