@use "../../utilties/font";
@use "../../utilties/variables" as var;
@use "../../utilties/elements";

.perkContainer {
  @extend %landingPageContainer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 1rem;
}

@media only screen and (max-width: 700px) {
  .perkContainer {
    height: 150vw;
  }
}

.headingText {
  @extend %largeHeroText;
}

// Logs container.
#logsText {
  color: var.$light-hazy-purple;
}

// Metrics container.
#metrics {
  background-color: var.$hero-background;
}

.chartContainer {
  border: solid green;
  display: flex;
  .chartType {
    height: 40vw;
    width: 40vw;
  }
}

#pie {
  border-radius: 50%;
  background: repeating-conic-gradient(
    from 0deg,
    var.$pie-chart-light 0deg calc(3.6deg * 60),
    var.$pie-chart-medium calc(3.6deg * 60) calc(3.6deg * 75),
    var.$pie-chart-dark calc(3.6deg * 75) calc(3.6deg * 100)
  );
}
