@use "../../utilties/font";
@use "../../utilties/variables" as var;
@use "../../utilties/elements";

.perkContainer {
  @extend %landingPageContainer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 1rem;
}

.chartContainer {
  display: flex;
}

#bar {
  height: 60vw;
  width: 50vw;
  align-items: center;
}

.headingText {
  @extend %largeHeroText;
}

// For mobile and tablet display
@media only screen and (max-width: 700px) {
  .perkContainer {
    height: 200vw;
  }
  #lineChart {
    height: 70vw;
    width: 90vw;
  }
  .chartContainer {
    flex-direction: column;
    align-items: center;
  }
  #bar {
    width: 90vw;
  }
}

// Desktop display
@media only screen and (min-width: 700px) {
  .chartType {
    height: 40vw;
    width: 40vw;
  }
  #lineChart {
    height: 60vw;
    width: 80vw;
  }
  .headingText {
    font-size: 6rem;
  }
}

// Log and input
.chartType {
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

// Logs container text.
#logsText {
  color: var.$light-hazy-purple;
}

// Logs charts container
#logsChartsContainer {
  background-color: var.$log-background;
  border-radius: 0.3rem;
  padding: 0.2rem;
}
// Metrics container.
#metrics {
  background-color: var.$hero-background;
}
