@use "../../utilties/elements";
@use "../../utilties/font";

$line: solid;

.remindersWrapper {
  border: $line black;
  width: 80%;
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 0.4rem;
  }
}
.pickerContainer {
  display: flex;
  // justify-content: space-between;
  border: $line red;
  align-items: center;
  width: 80%;
  padding: 0.5rem;
  .tag {
    width: 45%;
    @extend %smallHeadingText;
  }
  div {
    input {
      width: 90%;
      padding: 0.2rem;
      text-align: center;
    }
  }
}

// The date picker field styled based on standard component.
.pickerField {
  @extend %inputField;
}
