@use "../../utilties/elements";
@use "../../utilties/font";

$line: none;

.mainWrapper {
  border: $line black;
  width: 85%;
  max-width: 40rem;
}
.photoWrapper {
  border: $line red;
}

.detailsWrapper {
  border: $line green;
}

// Headings styles
.heading {
  @extend %boldBlueUnderlined;
}

// individual details styling
.individualContainer {
  border: $line blue;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

// Each details heading and data styles
.title,
.data {
  border: $line gray;
  width: 30%;
}
.title {
  @extend %smallHeadingText;
}

.data {
  width: 70%;
  text-align: center;
  padding: 0.5rem;
  @extend %inputField;
}

// Edit field in the details section.

.editGroup {
  border: $line orange;
  display: flex;
  align-items: center;
}

.closeButton {
  border: $line black;
  margin-left: 0.2rem;
  height: 100%;
  svg {
    @extend %closeButton;
  }
  svg:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
