@use "../../utilties/font";
@use "../../utilties/variables" as var;
@use "../../utilties/elements";

$line: none;

.flowWrapper {
  border: $line green;
  padding: 1rem;
}
// Diagnosis Flow Heading styles.
.topHeading {
  @extend %largeHeroText;
  color: var.$light-hazy-purple;
  font-size: 500%;
  text-align: center;
  margin-bottom: 4rem;
}

// Heading and subcategory container.
.headingAndSubcat {
  border: $line red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
    border: $line black;
    width: 50%;
    @extend %boldBlueUnderlined;
  }
}

// Headings under the 'happens' flow.
#happensHeadings {
  h5 {
    border: $line orange;
    width: 100%;
  }
}

//Sub category wrapper and container element.
.subcatWrapper {
  border: solid blue;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.3);
  @extend %inputField;
  color: var.$hazy-purple;
  // text-shadow: 0.8px 0.8px 0px var.$light-hazy-purple;
  font-weight: bolder;
}

// Dummy!
.dummy {
  border: $line orange;
  width: 50%;
}

// Styling for the inLine category elements (after 'Happens')
.happensWrapper {
  border: $line turquoise;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.happensSubcats {
  border: $line lightseagreen;
  display: flex;
  justify-content: space-between;
}

// Subheading in between arrows on the flow diagram.
.subHeading {
  border: $line pink;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  h2 {
    width: 50%;
    @extend %smallBoldText;
    font-size: 2rem;
  }
}
