@use "../utilties/font";
@use "../utilties/variables" as var;

$line: none;

.pageContainer {
  border: $line green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.headingText {
  @extend %largeHeroText;
  color: var.$light-hazy-purple;
  border: $line red;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
}

#reminder {
  margin-bottom: 0;
}

#profile {
  margin-top: 0;
}
